build
build-*
build-*.log
lib
obj
*.o
*.a
*.pyc
results
log
dreamplace/version.py
dist
dreamplace.egg-info
install
*.so
.DS_Store
.vscode/*
.cache/
.nv/
.bash_history
opencode.log
benchmarks/*.tar
benchmarks/*.tar.*
benchmarks/iccad2015.ot/
.opencode_tmp*
benchmarks/iccad2015.hs/
heterosta_license
server.txt
{log_path}
